---
import HeroImage from "./HeroImage.astro";
import Container from "../../../layouts/Container.astro";
import ButtonAnimated from "../../ui/buttons/ButtonAnimated.astro";

import ScrollButton from "../../ui/buttons/ScrollButton.astro";
---

<section
  id="hero-section"
  class="relative h-full w-full cursor-default overflow-hidden"
>
  <HeroImage />
  <div class="relative z-30 flex h-full w-full flex-col justify-center">
    <Container>
      <div
        class="loaded-hero-heading mb-[12vh] max-w-lg sm:mb-[10vh] md:mb-[10vh] lg:mb-[12vh] font-arabic"
        data-scroll
        data-scroll-speed="-.3"
      >
        <h1 class="text-4xl font-bold !leading-tight tracking-tight text-white md:text-6xl font-arabic">
          مكتب الطيب للعقار<br />
          <span class="text-3xl md:text-5xl">وكيلك العقاري الموثوق في الأنبار</span>
        </h1>
        <p class="mt-6 max-w-[60ch] text-lg font-light !leading-relaxed tracking-normal text-white md:mt-8 md:text-xl font-arabic">
          نقدم لكم أفضل الفرص الاستثمارية العقارية في الفلوجة والأنبار. خبرة طويلة في سوق العقارات العراقي وخدمات متكاملة. للاستشارة المجانية ومعاينة العقارات، نرجو زيارة مكتبنا.
        </p>
        <div class="mt-6">
          <ButtonAnimated
            hiddenText="عرض العقارات"
            onClick="location.href = '/tim-dat'"
          >
            اكتشف الآن
          </ButtonAnimated>
        </div>
      </div>
    </Container>

    <ScrollButton
      id="scroll-btn"
      ariaLabel="انتقل لأسفل لعرض العقارات"
      destinationElementId="land-previews"
      className="loaded-hero-button "
    />
  </div>
</section>
